{% extends 'index.html' %}
{% load static %}
{% block sidebar %}{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <a class="btn btn-danger mb-3" href="{% url 'adminpage' %}"><img src="{% static 'arrow-left.svg' %}">Back to admin page</a>
            <h4 class="card-title">Bookings</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Turf name</th>
                    <th>Turf location</th>
                    <th>User</th>
                    <th>Slot</th>
                    <th>Is booked</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in data %}
                  <tr>
                    <td>{{ i.bturf.turfname }}</td>
                    <td>{{ i.bturf.turflocation }}</td>
                    <td>@{{ i.buser.username }}</td>
                    <td>{{ i.bslot }}</td>
                    <td>{{ i.booked }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>
</div>

{% endblock %}