{% extends 'home.html' %}
{% load static %}
{% block content %}


<!-- Navbar start -->
<div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">Ernakulam,Kerala</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Email@Example.com</a></small>
            </div>
            <div class="top-link pe-2">
                <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
                <a href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="index.html" class="navbar-brand"><h1 class="text-primary display-6">E-Turf</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <a href="{% url 'deletesession' %}" class=" btn border border-secondary rounded-pill px-3 text-primary" >Logout </a>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="{% url 'userhome' %}" class="nav-item nav-link ">Home</a>
                    <a href="#" class="nav-item nav-link active">Locations</a>
                    <a href="{% url 'turfsort' category='all' %}" class="nav-item nav-link">Turfs</a>
                    <a href="{% url 'usercontact' %}" class="nav-item nav-link">Contact</a>
                    <a href="{% url 'bookinghistory' id=request.session.username_u %}" class="nav-item nav-link">Booking history</a>

                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
</div>
<br>
<br>
<br>
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="col-lg-4 text-start">
                    <h1>Locations</h1>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        
                        <div class="col-lg-12">
                            <div class="row g-4">
                                {% for i in data %}
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img">
                                            <img src="{{ i.cityimage.url }}" style="height: 200px;" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{ i.city }}</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <div class="d-flex justify-content-between flex-lg-wrap">
                                                <a href="{% url 'turfsort' category=i.city %}" class="btn border border-secondary rounded-pill px-3 text-primary"> View turfs</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>

{% endblock %}
