{% extends 'home.html' %}
{% load static %}
{% block nav %}{% endblock %}
{% block content %}

<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4 justify-content-center">
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary">Register</h1>
                    </div>
                </div>
                <div class="col-lg-7">
                    <form action="{% url 'insertuser' %}" method="post" enctype="multipart/form-data" class="">
                        {% csrf_token %}
                        <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="Your Name" name="name">
                        <input type="text" class="w-100 form-control border-0 py-3 mb-4" placeholder="Username" name="username">
                        <input type="email" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Email" name="email">
                        <input type="number" class="w-100 form-control border-0 py-3 mb-4" placeholder="Phone number" name="phonenumber">
                        <input type="password" class="w-100 form-control border-0 py-3 mb-4" placeholder="Password" name="password">
                        <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary " type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block footer %}
{% endblock %}